@import 'color_variables.scss';
@import 'font_variables.scss';

input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: $hifi_light_grey;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.213);
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $hifi_medium_grey;
    }

    &:checked::before{ //content property only works on pseudo-elements, such as ::before 
        content: "\2713"; //Unicode character for checkmark 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        color: $hifi_orange;
    }
}

.checkboxes{
    display: flex;
    gap: 0.7rem;
    font-size: $text-nl;
    padding-bottom: 0.5rem;

    &.checkboxes__spacing{
        padding-bottom: 1.5rem;
    }
}