$hifi_white: #FFFFFF;
$hifi_light_grey: #F4F4F2;
$hifi_medium_grey: #E8E8E8;
$hifi_medium_dark_grey: #D2D2D2;
$hifi_grey: #BBBFCA;
$hifi_dark_grey: #495464;
$hifi_black: #000000;
$hifi_orange: #FF6900;
$hifi_gold: #A39161;