$text-xs: 0.5rem; //8px
$text-s: 10px;
$text-n: 12px; 
$text-nl: 14px;
$text-m: 16px; 
$text-l: 1.125rem; //18px
$text-xl: 1.5rem; //24px (home - price popular products)

$heading-xxs: 0.875rem;//h4 - 14px (home - popular products)
$heading-xs: 1.125rem; //h4 - 18px
$heading-s: 1.5rem;//h3 - 24px
$heading-n: 32px;
$heading-m: 40px;
$heading-l: 48px;
$heading-xl: 56px;
$heading-xxl: 72px;