@import 'color_variables.scss';
@import 'font_variables.scss';

.pageMain{
    background-color: $hifi_light_grey;
    padding: 1rem 1.5rem;
    
    > h1{
        width: clamp(25rem, 90vw, 80rem); 
        margin: 0 auto;
        font-size: $heading-l;
        padding-bottom: 2rem;
        color: $hifi_dark_grey;
        font-weight: 600;
    }

    > section{
        width: clamp(25rem, 90vw, 80rem); 
        margin: 0 auto;
        background-color: $hifi_white;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 5px 7px 0 rgba(0, 0, 0, 0.253);
        padding: 1.5rem 2rem;
        h2{
            font-size: $heading-s;
        }
    }
}

.orange{
    color: $hifi_orange;
}

//FAQ
.faqHeading{
    font-size: $heading-s;
    font-weight: bold;
    padding-top: 1rem;
}

.faqText{
    font-size: $text-nl;
    padding-bottom: 0.5rem;
}

// About
.aboutSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aboutHeading2{
    font-size: $heading-xxs;
    font-weight: bold;
    padding-top: 1rem;
}

.aboutHeading3{
    font-size: $text-nl;
    font-weight: bold;
    color: $hifi_orange;
}

.aboutText{
    font-size: $text-n;
    padding-bottom: 0.5rem;
}

.aboutInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
    section {
        text-align: center;
    }
}

.aboutInfoRight{
    flex-direction: row-reverse;
}

//Contact
.affiliate-links{
    padding-top: 1rem;
    text-align: center;
    font-size: $text-xl;
    font-weight: 600;
}

//Login
#loginHeader{
    padding-bottom: 0.5rem;
    font-size: $heading-s;
    font-weight: 600;
}

.loginText{
    font-size: $text-nl;
    padding-bottom: 2.5rem;
}

#newCustomer{
    margin-top: 4rem;
    margin-bottom: 7rem;
    text-align: center;
    h3{
        font-weight: 600;
        font-size: $heading-s;
    }
    p{
        font-size: $text-nl;
    }
}