@import '@/styles/color_variables.scss';
@import '@/styles/font_variables.scss';

main{
    background-color: $hifi_light_grey;
    padding: 1rem 1.5rem;

    > h1{
        width: clamp(25rem, 90vw, 80rem); 
        margin: 0 auto;
        font-size: $heading-l;
        padding-bottom: 2rem;
        color: $hifi_dark_grey;
        font-weight: 600;
    }

    h3{
        font-size: $heading-s;
        font-weight: 600;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    >section{
        width: clamp(25rem, 90dvw, 80rem); 
        margin: 0 auto;
    }
}


.filter-btn{
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    margin-bottom: 2rem;
    font-size: $text-nl;

    >.filter{
        filter: invert(100%);
    }
}


.product-details-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    div{
        h2{
            font-size: $heading-s;
            font-weight: 600;
        }
        p{
            font-size: $text-nl;
            font-weight: 600;
            white-space: pre-line;
        }
    }
}


.product-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
}

.detailVariantSelector_container{
    display: flex;
    gap: 1rem;
    text-align: center;
    padding: 2rem 0rem;
}

//Table

table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 7rem;
    font-size: $text-nl;

    td, th {
        text-align: center;
        padding: 0.5rem;

        &:first-child{ //applies only to the first td element
            border-right: 1px solid $hifi_medium_dark_grey;
            font-weight: bold;
        }
    }

    tr:nth-child(odd) { //applies only to the odd tr elements
        background-color: $hifi_medium_grey;
    }
}